html,body {
            font-family: Arial, sans-serif;
            background-color: #f7f4ff;
            display: flex;
            flex-direction: column;
            color: #333;
            margin: 0;
            padding: 0;
            height: 100%;
        }
        main{
            flex:1;
        }
        h2 {
            color: #5b2d91;
            text-align: center;
            margin-top: 20px;
            font-size: 28px;
        }
        h3{
            
            color: #3a294d;
            text-align: center;
            font-size: 15px;
        }
        header {
            background-color: #5b2d91;
            padding: 10px 0;
        }

        nav ol {
            list-style: none;
            display: flex;
            justify-content: center;
            gap: 20px;
            margin: 0;
            padding: 0;
        }

        nav li {
            display: inline;
        }

        nav a {
            text-decoration: none;
            color: #fff;
            font-weight: bold;
            padding: 8px 12px;
            border-radius: 5px;
            transition: background-color 0.3s ease;
        }

        nav a:hover {
            background-color: #9c6cd2;
            color: #f7f4ff;
        }

        footer {
            text-align: center;
            flex:end;
            padding: 10px;
            background-color: #5b2d91;
            color: #fff;
            margin-top: 20px;
        }
 
/*MAIN*/
/* Main */
main {
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    background-color: #ffffff; /* Fondo blanco */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    border-radius: 8px;
}

/* Secciones */
.general-info, .additional-info {
    margin-bottom: 20px;
}

h3 {
    color: #5b2d91; /* Morado oscuro */
    font-size: 24px;
    margin-bottom: 10px;
    border-bottom: 2px solid #9c6cd2; /* Línea divisoria morada */
    padding-bottom: 5px;
}

p {
    font-size: 16px;
    color: #555; /* Texto gris oscuro */
    line-height: 1.6;
    margin: 10px 0;
}
.container{
    text-align: center;

}
img{
    display: inline-block;
    width: 300px;
    height: 200px;

}
